.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 4rem;
    background: #fff;
    &__navi {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: url("/images/life/veg.jpg") center / cover;
    }
}

.header ul {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    margin: 0 1rem;
}

.header a {
    font-size: 1rem;
}

.header a:hover,
.header a:active,
.header a.active {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .header ul {
        gap: 0.5rem;
    }

    .header a {
        font-size: 1.25rem;
    }
}
