@use "../../styles/variables/variables" as v;
@use "../../styles/variables/mixin" as m;

.card {
  position: relative;
  @include m.card();
  cursor: pointer;
  &__listCard {
    position: relative;
    @include m.card();
    width: 100%;
    padding: 0.5rem 1rem;
  }
  &__rowCard {
    display: flex;
    align-items: center;
  }
  &__image {
    @include m.cardImg();
    overflow: hidden;
    transition: box-shadow 0.25s ease-out;
  }
  &__body {
    padding: 1rem;
  }
  // 記事のタイトル・日付表示用
  &__primary {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5rem;
    word-break: break-word;
    text-align: left;
    color: v.$card;
  }
  &__secondary {
    text-align: left;
    @include m.caption();
  }
  &__title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  &__sentence {
    font-size: 1rem;
  }
  &:hover {
    box-shadow: 0 5px 15px -10px #000;
    // box-shadow: -5px -5px 8px #fff, 5px 5px 10px rgba(28, 64, 128, 0.15);
    transform: translate(0px, -4px);
  }
  &:hover .card__image img {
      opacity: 0.9;
  }
}
