@use "../../styles/variables/mixin" as m;

.button {
  width: 18.75rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
  @include m.btnShadow();
  cursor: pointer;
  &--last {
    margin-left: 2rem;
  }
  &:hover {
    background-color: #fff;
  }
}
