.button {
    width: clamp(200px, 40%, 1000px);
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 2px 5px 11px 1px rgba(204, 204, 204, 0.86),
        2px 5px 11px 1px rgba(204, 204, 204, 0.86);
    box-shadow: 2px 5px 11px 1px rgba(204, 204, 204, 0.86),
        2px 5px 11px 1px rgba(204, 204, 204, 0.86);
    &--last {
        margin-left: 2rem;
    }
    &:hover {
        background-color: #ff8ba7;
        color: #ffffff;
    }
    &--pink:hover {
        background-color: #ff8ba7;
        color: #ffffff;
    }
    &--green:hover {
        background-color: #cbe87b;
        color: #ffffff;
    }
    &:hover > a {
        color: #ffffff;
    }
}
