@use "../../styles/variables/variables" as v;
@use "../../styles/variables/mixin" as m;

.main {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  // background: linear-gradient(90deg, rgba(251,141,170,1) 35%, rgba(160,0,255,1) 90%);
  @include m.glassBg();
  &__glass {
    width: 100%;
    margin: 1rem;
  }
}