@use './variables' as v;
$breakpoint: (
  sp: 'screen and (max-width: 450px)',
  tab: 'screen and (max-width: 880px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}
@mixin sentence() {
  font-size: 1.5rem;
  color: v.$sentence;
  word-break: break-word;
}
@mixin caption() {
  font-size: 0.625rem;
  color: v.$caption;
}

@mixin sectionTitle() {
  font-size: 2.5rem;
    @include mq(tab) {
      font-size: 2rem;
    }
}

@mixin cardImg() {
  border-radius: 20px 20px 0 0;
}

@mixin card() {
  border-radius: 1.25rem;
  background-color: v.$cardBg;
  box-shadow: 0 5px 15px -10px #000;
  transition: transform 200ms cubic-bezier(0.561, -0.163, 0.246, 1.27),
      -webkit-transform 200ms cubic-bezier(0.561, -0.163, 0.246, 1.27);
  // transition: box-shadow 0.25s ease-out;
}

@mixin btnShadow() {
  -webkit-box-shadow: 2px 5px 11px 1px rgba(204, 204, 204, 0.86),
      2px 5px 11px 1px rgba(204, 204, 204, 0.86);
  box-shadow: 2px 5px 11px 1px rgba(204, 204, 204, 0.86),
      2px 5px 11px 1px rgba(204, 204, 204, 0.86);
}
@mixin btn() {
  background: v.$green;
  border-radius: 2rem;
  @include btnShadow();
}

@mixin modalFlexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glassBg {
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}