@use './variables' as v;
$breakpoint: (
  sp: 'screen and (max-width: 450px)',
  tab: 'screen and (max-width: 880px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}
@mixin sentence() {
  font-size: 1.5rem;
  color: v.$sentence;
  word-break: break-word;
}
@mixin caption() {
  font-size: 0.625rem;
  color: v.$caption;
}

@mixin sectionTitle() {
  font-size: 2.5rem;
    @include mq(tab) {
      font-size: 2rem;
    }
}

@mixin cardImg() {
  border-radius: 20px 20px 0 0;
}

@mixin btn() {
  background: v.$green;
  border-radius: 2rem;
}