$white: #ffffff;

$pageBg: rgba(252, 236, 236, 1);
$secondaryBackground: #fffffe;
$footerBg: rgb(52, 95, 133);
$border: #cccccc;
$link: rgb(7, 99, 7);
$card: #3f3931;
$sentence: #3f3931;
$caption: #b2b2a2;