$white: #ffffff;
$green: rgb(59, 77, 59);

$pageBg: rgb(250, 241, 241);
$secondaryBackground: #fffffe;
$footerBg: rgb(62, 73, 62);
$border: #cccccc;
$link: rgb(3, 73, 3);
$card: #3f3931;
$cardBg: rgba(255, 255, 254, 0.6);
$sentence: #3f3931;
$caption: #b2b2a2;

$round: 2rem;

// エンジニア用サイト
$glass: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );

$title: #0d4983;
$captionWeb: rgb(105, 132, 105);