$white: #ffffff;
$green: rgb(59, 77, 59);

$pageBg: rgb(250, 241, 241);
$secondaryBackground: #fffffe;
$footerBg: rgb(62, 73, 62);
$border: #cccccc;
$link: rgb(3, 73, 3);
$card: #3f3931;
$sentence: #3f3931;
$caption: #b2b2a2;