.sectionWrap {
  width: 80%;
  margin: 0 auto;
  &:nth-of-type(n + 2) {
    margin-top: 5rem;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
  &__body {
    width: clamp(350px, 80%, 600px);
    padding: 1.5rem;
    border-radius: 3px;
  }
  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__sentence {
  }
  &__image {
  }
  &--top {
    display: flex;
    align-items: center;
    margin: 5rem auto 0;
  }
  &__reverseRow {
    @media screen and (min-width: 880px) {
      flex-direction: row-reverse;
    }
  }
  &--emphasized {
    text-align: center;
    line-height: 2.5;
  }
}