.header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    @media (min-width: 800px) {
        padding: 1rem;
        border: 1px solid var(--background);
        background: rgb(255 255 255 / 80%);
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
}

.header a:hover,
.header a:active,
.header a.active {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .header ul {
        gap: 0.5rem;
    }
}
