.header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 2;
}

.header a:hover,
.header a:active,
.header a.active {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .header ul {
        gap: 0.5rem;
    }
}
