@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}
// html {
//   background-color: #fddad6;
// }
body {
    margin: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック",
        "Yu Gothic", sans-serif;

    line-height: 1.5;
}
h1,
h2,
h3 {
    @media screen and (max-width: 880px) {
        text-align: center;
    }
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
a,
a:hover {
    text-decoration: none;
    color: #3f3931;
    cursor: pointer;
}

button {
    font: inherit;
    cursor: pointer;
}
li,
ul {
    list-style: none;
}
.border {
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 880px) {
        flex-direction: column;
    }
}
.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("/images/life/sky.png") center / cover;
    color: #fff;
}
.recommend {
    margin: 0 auto;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
// block要素関連
.section {
    margin-top: 5rem;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5rem auto 0;
        @media screen and (max-width: 880px) {
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--centeredColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        @media screen and (max-width: 880px) {
            flex-direction: column;
        }
    }
}
.container {
    &--small {
        width: 20%;
    }
    &--sentence {
        @media screen and (min-width: 800px) {
            width: 45%;
        }
    }
    &--large {
        @media screen and (min-width: 800px) {
            width: 80%;
        }
    }
    &--center {
        margin: 0 auto;
    }
    &__index {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 24px;
        margin-top: 5rem;
    }
    &__text {
        margin: 0 auto;
        margin-top: 1.5rem;
        width: 601px;
        @media screen and (max-width: 880px) {
            padding: 1.5rem;
            width: 400px;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5rem 2rem 0 2rem;
    }
    &__button .button {
        margin-top: 0;
    }
}
.image {
    object-fit: cover;
}
// text
.text {
    &--center {
        text-align: center;
    }
}
// title
.title {
    &--small {
        font-size: 1rem;
        color: #b2b2a2;
    }
}

.latestBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        @media screen and (min-width: 450px) {
            padding-left: 0;
        }
    }
    &__item {
        width: 400px;
        margin: 2rem;
        @media screen and (max-width: 880px) {
            margin: 1rem;
        }
    }
}

//button
.container__button > .lastButton {
    margin-left: 2rem;
}
// caption and sentence
.caption,
.sentence {
    text-align: left;
}
.caption {
    font-size: 0.625rem;
    color: #b2b2a2;
}
.sentence {
    font-size: 1.5rem;
    color: #3f3931;
    word-break: break-word;
}
// animation
.shadow-drop-lr {
    -webkit-animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//sidemenu
.sidemenu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    &__sns {
        margin: 0.5rem;
    }
}
.post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    margin: 0 auto;
    overflow: scroll;
    &__container {
        display: flex;
        position: relative;
        margin-top: 5rem;
    }
    &__image {
        margin-top: 1.5rem;
    }
    &__sentence {
        margin-top: 2rem;
        width: 80%;
    }
}
