@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #fcecec;
}

body {
  font-family: "Noto Sans JP", "Cochin", BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

:root {
  --background: rgba(252, 236, 236, 1);
  --secondary-background: #fffffe;
  --white: #fffffe;
  --footer: rgb(38, 78, 112);
  --hamburger-background: rgb(38, 78, 112);
  --sentence: #3f3931;
  --caption: #b2b2a2;
  --title-border: rgb(103, 145, 134);
  --hover: rgb(103, 145, 134);
  --min-width: 350px;
}
:root div {
  line-height: 1.65;
}
:root h1,
:root h2,
:root h3 {
  font-weight: normal;
  font-family: "游ゴシック体 Pr6N", sans-serif;
}
@media screen and (max-width: 880px) {
  :root h1,
:root h2,
:root h3 {
    text-align: center;
  }
}
:root h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 450px) {
  :root h1 {
    font-size: 1.6rem;
  }
}
:root h2 {
  font-size: 2rem;
}
@media screen and (max-width: 450px) {
  :root h2 {
    font-size: 1.4rem;
  }
}
:root a,
:root a:hover {
  text-decoration: none;
  color: #3f3931;
  cursor: pointer;
}
:root button {
  font: inherit;
  cursor: pointer;
}
:root li,
:root ul {
  list-style: none;
}
:root .border {
  border: 1px solid #ccc;
  border-radius: 1rem;
}
:root .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 880px) {
  :root .center {
    flex-direction: column;
  }
}
:root .main {
  padding: 4rem 0;
  min-height: calc(100vh - 7rem);
}
:root .scrollAnimation {
  border: 0px;
  background: none;
  box-shadow: none;
}
:root .image > span {
  display: block !important;
}
:root .margin--top {
  margin-top: 4rem;
}
:root .padding {
  padding: 1rem;
}
:root .firstPage {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
:root .firstPage__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 24px;
  margin-top: 5rem;
}
@media screen and (max-width: 880px) {
  :root .section,
:root .section--top {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
:root .sectionWrap {
  width: 80%;
  margin: 0 auto;
}
:root .sectionWrap:nth-of-type(n + 2) {
  margin-top: 5rem;
}
:root .section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}
:root .section__body {
  width: clamp(350px, 80%, 600px);
  padding: 1.5rem;
  border-radius: 3px;
}
:root .section__title {
  text-align: center;
}
:root .section--top {
  display: flex;
  align-items: center;
  margin: 5rem auto 0;
}
@media screen and (min-width: 880px) {
  :root .section--reverse {
    flex-direction: row-reverse;
  }
}
:root .section--emphasized {
  text-align: center;
  padding: 5rem 0;
  line-height: 2.5;
}
:root .mg-t-2 {
  margin-top: 2rem;
}
:root .container {
  padding: 1rem;
}
:root .container__sentence {
  display: flex;
  flex-direction: column;
}
:root .container__text {
  margin: 0 auto;
  width: clamp(350px, 80%, 400px);
  line-height: 2;
}
@media screen and (max-width: 880px) {
  :root .container__text {
    padding: 1.5rem;
  }
}
:root .singleColumn_container {
  padding: 1rem;
}
:root .twoColumns_container {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  margin: auto;
  max-width: 1920px;
}
:root .twoColumns_container__main {
  padding: 1rem;
}
:root .twoColumns_container__side {
  padding: 1rem;
}
:root .twoColumns_container1 {
  display: grid;
  justify-items: center;
  padding: 0;
}
:root .grid--square {
  display: grid;
  justify-items: center;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  :root .twoColumns_container {
    grid-template-columns: 400px minmax(280px, 1fr);
    padding: 40px;
  }
  :root .twoColumns_container__main {
    min-width: calc(100% - 400px - 1rem);
  }
  :root .twoColumns_container.reverse {
    grid-template-columns: minmax(280px, 1fr) 400px;
  }
  :root .twoColumns_container.reverse .twoColumns_container__side {
    position: -webkit-sticky;
    position: sticky;
    order: 2;
  }
  :root .twoColumns_container.reverse .twoColumns_container__main {
    order: 1;
  }
  :root .twoColumns_container--scroll {
    position: fixed;
    top: calc(1rem + 100px);
    height: 100%;
    z-index: 5;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  :root .twoColumns_container--scroll::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 1030px) {
  :root .twoColumns_container.reverse {
    grid-template-columns: minmax(280px, 1fr) 400px;
  }
  :root .twoColumns_container {
    grid-template-columns: 400px minmax(280px, 1fr);
    grid-gap: 40px;
    gap: 40px;
  }
  :root .twoColumns_container--scroll {
    width: 400px;
  }
  :root .grid--square {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  :root .grid__image {
    grid-column: 1/3;
    grid-row: 1/4;
  }
}
:root .text--left {
  text-align: left;
  margin: 0 auto;
}
:root .text--center {
  text-align: center;
}
:root .title--small {
  font-size: 1rem;
  color: var(--caption);
}
:root .cardWrap {
  display: grid;
  justify-items: center;
  padding: 0;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
:root .card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 15px -10px #000;
  background-color: rgba(255, 255, 254, 0.6);
  transition: transform 200ms cubic-bezier(0.561, -0.163, 0.246, 1.27);
  cursor: pointer;
}
:root .card__image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  transition: box-shadow 0.25s ease-out;
}
:root .card__image > span {
  display: block !important;
}
:root .card__body {
  padding: 1rem;
}
:root .card__primary {
  font-size: 1.5rem;
  color: var(--sentence);
  word-break: break-word;
  text-align: left;
}
:root .card__secondary {
  text-align: left;
  font-size: 0.625rem;
  color: var(--caption);
}
:root .card:hover {
  box-shadow: 0 5px 15px -10px #000;
  transform: translate(0px, -4px);
}
:root .card:hover .card__image img {
  opacity: 0.9;
}
:root .caption,
:root .sentence {
  text-align: left;
}
:root .caption {
  font-size: 0.625rem;
  color: var(--caption);
}
:root .sentence {
  font-size: 1.5rem;
  color: var(--sentence);
  word-break: break-word;
}
:root .shadow-drop-lr {
  -webkit-animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
:root .latestBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 450px) {
  :root .latestBlog__list {
    padding-left: 0;
  }
}
:root .latestBlog__item {
  width: 400px;
  margin: 2rem;
}
@media screen and (max-width: 880px) {
  :root .latestBlog__item {
    margin: 1rem;
  }
}
:root .pageWrap {
  position: relative;
  padding: 2rem;
}
:root .page {
  display: flex;
  flex-direction: column;
  width: clamp(350px, 100%, 900px);
}
:root .page__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  border-bottom: 5px solid var(--title-border);
}
:root .page__image {
  margin-top: 1.5rem;
}
:root .page__sentence {
  margin-top: 2rem;
  width: clamp(200px, 100%, 650px);
}
:root .sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--secondary-background);
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 5px 15px -10px #000;
}
:root .sidemenu__profile {
  overflow: hidden;
  border-radius: 50%;
}
:root .sidemenu__info {
  text-align: center;
}
:root .sidemenu__sns, :root .sidemenu__title {
  margin: 0.5rem;
}
:root .sidemenu__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 3px solid var(--title-border);
}
:root .sidemenu__sns {
  display: flex;
  flex-direction: row;
}
:root .sidemenu__text, :root .sidemenu__category {
  width: 300px;
}
:root .sidemenu__category {
  width: 300px;
  margin-top: 2rem;
}
@media screen and (min-width: 1100px) {
  :root .sidemenu {
    position: -webkit-sticky;
    position: sticky;
  }
}
/*# sourceMappingURL=globals.css.map */